@import '../../variables.scss';
.aritcle {
  min-width: 65%;
  max-width: 941px;
  background-color: $main-background-color;
  padding: 15px 14px 24px 19px;
  border-radius: 5px;
  margin-top: 26px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 140px;
}

.articleHeader {
  display: flex;
}

.content {
  max-width: 682px;
}

.title {
  font-size: 20px;
  line-height: 28px;
}
.titleText {
  color: $info-color;
  margin-right: 13px;
}

.likeStatus {
  margin-right: 5px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0px;
  gap: 8px;
  font-size: 12px;
  line-height: 15px;
  color: $secondary-text-color;
  & button {
    padding: 2px 6px 3px 5px;
    border: 1px solid;
    border-color: $secondary-text-color;
    border-radius: 2px;
  }
}

.articleText {
  font-size: 12px;
  line-height: 22px;
  margin-top: 17px;
}
.articleInfo {
  display: flex;
}
.userIcon {
  max-width: 46px;
  max-height: 46px;
  margin-left: 12px;
  border-radius: 50%;
}

.userInfo {
  & p:first-child {
    color: $heading-color;
    font-size: 18px;
    line-height: 28px;
  }
  & p:last-child {
    color: $secondary-text-color;
    font-size: 12px;
    line-height: 22px;
  }
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
}

.deleteButton {
  font-size: 14px;
  line-height: 22px;
  padding: 6px 17px 5px;
  color: $highlight-color;
  border: 1px solid $highlight-color;
  border-radius: 5px;
}

.editButton {
  font-size: 14px;
  line-height: 22px;
  padding: 6px 19px 5px;
  color: $success-color;
  border: 1px solid $success-color;
  border-radius: 5px;
}

.buttonsContainer {
  margin-top: 30px;
  display: flex;
  gap: 12px;
}

.contentContainer {
  flex-grow: 1;
}
