// $max-mobail-size: 767px;
// $middle-mobail-size: 540px;
$back-background-color: #ebeef3;
$main-background-color: #fff;
// $active-text-color: #fff;
$main-text-color: rgba(0, 0, 0, 0.75);
$secondary-text-color: rgba(0, 0, 0, 0.5);

$success-color: #52c41a;
$heading-color: rgba(0, 0, 0, 0.85);
$info-color: #1890ff;

// $main-border-color: #dfe5ec;
// $inside-background-color: #fff;
// $hover-color: #f1fcff;
// $main-active-color: #2196f3;
