$max-mobail-size: 767px;
$middle-mobail-size: 540px;
$back-background-color: #ebeef3;
$main-background-color: #fff;
$active-text-color: #fff;
$main-text-color: rgba(0, 0, 0, 0.75);
$secondary-text-color: rgba(0, 0, 0, 0.5);
$grey-9-color: #262626;
$grey-4-color: #e8e8e8;
$highlight-color: #f5222d;
$success-color: #52c41a;
$heading-color: rgba(0, 0, 0, 0.85);
$info-color: #1890ff;
